@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #000305;
  --light-color: #978e8e;
  --white-color: rgba(4, 226, 255,0.5);
  --success-color: #3b753b;
  --error-color: #d9534f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#para{
  margin: 15px;
}
#name1{
  text-align: center;
  color: ;
}
body {
  background-color: var(--light-color);
}

header {
  width: 100%;
  background-color: var(--white-color);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  height: 70px;
  position: relative;
}

a {
  text-decoration: none;
  font-size: 17px;
  color: var(--dark-color);
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

header .container.flex {
  justify-content: space-between;
}

header ul li {
  margin: 0 10px;
}

header ul {
  transition: 0.4s ease-in-out;
}

header ul li a {
  padding: 5px 0;
}

.nav-brand {
  font-size: 25px;
  color: var(--dark-color);
  font-weight: 500;
  white-space: nowrap;
}

header ul li a:hover,
header ul li a.active {
  background-color: tomato;
  font-size: 130%;

  border-bottom: 1px solid #fff;
  transform: scale(1.2);
  border-radius: 10px;

  border-bottom: 2px solid var(--dark-color);
  color: var(--dark-color);
}

header.active ul {
  position: fixed;
  transform: translateX(0);
  transition: 0.4s ease-in-out;
}
#about{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 50px;
}
#pic{
  display: flex;

}
#pic img{
  width: 600px;
  height: 400px;
  margin: 15px;
}
#contact{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 20px;
}
.form{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  margin: 20px 0px;
}
.input{
  padding: 15px;
  margin: 15px;
  width: 50%;
  border: none;
  outline: none;
}
#msg{
  width: 100%;
  height: 30%;
  padding: 10px;
  margin: 15px;
  border: none;
  outline: none;
}
#sand{
  padding: 10px;
  width: 20%;

}

.gallery .grid {
  grid-template-columns: repeat(3, 1fr);
}

.card {
  max-width: 350px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.card img {
  object-fit: cover;
  height: 180px;
}

.card-body {
  padding: 15px;
  font-size: 18px;
}

.menu {
  font-size: 23px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  display: none;
}

.menu.active {
  transform: rotate(180deg);
}

main {
  width: 100%;
  height: 90vh;
  background: url(../images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* border-top: 2px solid #047aed; */
}

main .container {
  position: relative;
  z-index: 2;
}

main .text {
  max-width: 700px;
  margin: auto;
}

main h1,
main a,
main p {
  color: #fff;
  margin: 1rem 0;
}

h1 {
  font-size: 4rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  white-space: nowrap;
}

h1 span {
  font-size: 4.5rem;
  color: #5cb85c;
}

main::before,
main::after {
  opacity: 0.5;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /* z-index: -1; */
  background-color: #333;
}

main p {
  font-size: 21px;
}

main a {
  border: none;
  display: inline-block;
  padding: 15px 35px;
  border-radius: 5px;
  background-color: #e40000;
  color: var(--white-color);
  margin: 10px 0;
  font-size: 19px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;
}

main button:active {
  transform: scale(0.95);
}

.contact_sec .flex {
  align-items: flex-start;
}

.info {
  max-width: 1000px;
  margin: 1rem auto;
  border: 4px solid #5cb85c;
  border-radius: 5px;
  padding: 20px;
}

.info p {
  font-size: 20px;
  margin: 15px 0;
  color: #423d3d;
  line-height: 30px;
}

.info h1 {
  font-weight: 400;
  color: #020202;
  text-align: center;
  margin: 1.5rem 0;
}

.social {
  margin: 2rem auto;
  max-width: 500px;
  text-align: center;
}

.social h2 {
  font-weight: 400;
}

.social a {
  display: inline-block;
  margin: 0 8px;
  font-size: 30px;
}

/* utilities  */
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 40px;
  overflow: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 25px;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.form {
  max-width: 500px;
  padding: 2rem;
  border-radius: 5px;
  margin: 0 auto;
  background-color: var(--white-color);
}

.form form {
  width: 100%;
}

.form-group {
  margin: 15px 0;
}

.form-group input {
  width: 100%;
  display: block;
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  border: 0;
  border-radius: 5px;
  font-size: 17px;
  outline: 0;
  background-color: var(--light-color);
}

.form textarea {
  width: 100%;
  resize: vertical;
  border: none;
  outline: 0;
  background-color: var(--light-color);
  font-size: 17px;
  padding: 10px;
}

.form select {
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: var(--light-color);
  padding: 12px 15px;
  margin: 8px 0;
  font-size: 17px;
  outline: none;
}

.form select option {
  padding: 12px 15px;
}

.form h2 {
  font-weight: 300;
}

.form button {
  border: none;
  display: block;
  padding: 12px 15px;
  border-radius: 5px;
  background-color: var(--dark-color);
  color: var(--white-color);
  margin: 10px 0;
  width: 100%;
  font-size: 17px;
  cursor: pointer;
}

.form p a {
  display: inline-block;
  margin: 0 5px;
  color: var(--primary-color);
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

@media (max-width: 760px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .menu {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  header ul {
    /* display: none; */
    /* visibility: hidden; */
    flex-direction: column;
    top: 70px;
    right: 0;
    position: fixed;
    width: 300px;
    height: 100vh;
    /* background-color: var(--white-color); */
    background-color: #0478ed2a;
    transform: translateX(500px);
    z-index: 20;
  }
  header ul li {
    position: relative;
  }

  header ul::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    /* z-index: 0 !important; */
    /* background: #333; */
    backdrop-filter: blur(10px);
  }

  header ul li {
    margin: 10px 0;
  }

  header ul li a {
    font-size: 20px;
    color: #fff;
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .menu {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  header ul {
    /* display: none; */
    /* visibility: hidden; */
    flex-direction: column;
    top: 70px;
    right: 0;
    position: fixed;
    width: 300px;
    height: 100vh;
    background-color: var(--white-color);
    transform: translateX(500px);
  }

  header ul li {
    margin: 10px 0;
  }

  header ul li a {
    font-size: 20px;
  }
}
#services{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.row{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box; 
}
.box{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 450px;
  border: 1px solid black;
  margin: 5px ;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border-radius: 15px;
  background: linear-gradient(to top,rgb(0, 0, 0) 50%, white 50%);
  background-size: 100% 200%;
  transition: all .8s;
}
.box:hover{
  background-position: left bottom;
  color: white;
  border: none;
  box-shadow: 0 0 20px rgb(0, 0, 0);
}